.door-control {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 36px;
    align-items: center;
    font-weight: bold;
}

.door-off-on {
    margin-left: 39px;
    display: block;
}

.button-status-off {
    width: 400px;
    height: 72px;
    font-size: 36px;
    font-weight: bold;
    border: 0;
    background-color: rgba(249, 185, 185, 1);
    border-radius: 10px;
    outline: #C4CFD8;
    transition-property: box-shadow, background-color, outline;
    transition-duration: 0.15s;
}

.button-status-on {
    width: 400px;
    height: 72px;
    font-size: 36px;
    font-weight: bold;
    border: 0;
    background-color: rgba(153, 231, 153, 1);
    border-radius: 10px;
    outline: #C4CFD8;
    transition-property: box-shadow, background-color, outline;
    transition-duration: 0.26s;
}

.button-status-off:hover {
    outline: 1px solid #C4CFD8;
    box-shadow: 0 2px 15px #C5CFFF;
}

.button-status-on:hover {
    outline: 1px solid #C4CFD8;
    box-shadow: 0 2px 15px #C5CFFF;
}

@media (max-width: 930px) {
    .door-control {
        padding:20px;
        padding-right: 5px;
    }
    .button-status-on {
        height: 60px;
    }
    .button-status-off {
        height: 60px;
    }
    .door-off-on {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0;
    }
}

@media (max-width: 764px) {
    .door-off-on {
        margin-bottom: 20px;
    }
}

@media (max-width: 530px) {
    .door-control {
        padding-left: 15px;
        padding-right: 15px;
    }
    .button-status-on {
        height: 50px;
        font-size: 24px;
    }
    .button-status-off {
        height: 50px;
        font-size: 24px;
    }
    .door-off-on {
        font-size: 24px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}
