.door-control {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    align-items: center;
    font-weight: bold;
}

.door-off-on {
    display: block;
    padding-bottom: 5px;
}

.button-status-off {
    padding: 10px 55px 10px 55px;
    font-size: 36px;
    font-weight: bold;
    border: 0;
    background-color: rgba(249, 185, 185, .8);
    border-radius: 10px;
    transition-property: box-shadow, background-color, outline;
    transition-duration: 0.15s;
}

.button-status-on {
    padding: 10px 55px 10px 55px;
    font-size: 36px;
    font-weight: bold;
    border: 0;
    background-color: rgba(153, 231, 153, .7);
    border-radius: 10px;
    transition-property: box-shadow, background-color, background-color;
    transition-duration: 0.23s;
}

.button-status-off:focus-visible {
    outline: none;
    box-shadow: 0 2px 15px #C5CFFF;
}

.button-status-on:focus-visible {
    outline: none;
    box-shadow: 0 2px 15px #C5CFFF;
}

.button-status-off:hover {
    box-shadow: 0 2px 15px #C5CFFF;
}

.button-status-on:hover {
    box-shadow: 0 2px 15px #C5CFFF;
}

.button-status-off:active {
    background-color: rgba(153, 231, 153, .85);
    box-shadow: 0 2px 5px #C5CFFF;
}

.button-status-on:active {
    background-color: rgba(249, 185, 185, .9);
    box-shadow: 0 2px 5px #C5CFFF;
}

@media (max-width: 665px) {
    .door-control {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    .door-off-on {
        margin-bottom: 10px;
    }
}

@media (max-width: 470px) {
    .door-control {
        font-size: 26px;
    }
    .button-status-on {
        font-size: 26px;
    }
    .button-status-off {
        font-size: 26px;
    }
}
