.rooms-field {
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 25px 0 25px;
}

.room-button {
    position: relative;
    margin: 0 15px 30px 15px;
    padding: 50px 55px;
    flex-grow: 1;
    background-color: white;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
    font-size: calc((100vw - 350px)/(1280 - 350) * (36 - 22) + 22px);
    font-weight: 700;
    color: #303437;
    transition: background-color .35s ease-out, box-shadow .35s;
}

.room-button:hover {
    background-color: #AFB4BD;
    box-shadow: 0 2px 15px rgba(27, 27, 27, .35);
}

.room-button:focus-visible {
    outline: none;
    background-color: #AFB4BD;
    box-shadow: 0 2px 15px rgba(27, 27, 27, .35);
}

.room-button:active {
    background-color: #8A8E95;
    box-shadow: 0 2px 10px rgba(217, 136, 78, .35);
}

.room-button:disabled {
    background-color: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
}

.current-room,
.current-room:hover,
.current-room:disabled,
.current-room:focus-visible {
    box-shadow: 0 2px 15px rgba(39, 96, 222, .25);
}

.target-room,
.target-room:hover,
.target-room:disabled,
.target-room:focus-visible {
    box-shadow: 0 2px 15px rgba(217, 136, 78, .35);
}

.robot-standing {
    pointer-events: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 80px;
    height: 35px;
    background: url('../pictures/robot-standing.svg');
}

.robot-moving {
    pointer-events: none;
    position: absolute;
    bottom: 8px;
    right: 15px;
    width: 93px;
    height: 42px;
    background: url('../pictures/robot-moving.svg');
    animation: robot 1s ease-in infinite;
}

.robot-moving::before {
    content: '';
    pointer-events: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93px;
    height: 42px;
    background: url('../pictures/wind.svg');
    animation: wind 1s ease-in infinite;
}

.marker {
    pointer-events: none;
    position: absolute;
    bottom: 15px;
    right: 25px;
    width: 42px;
    height: 42px;
    background: url('../pictures/target.svg');
    animation: marker .4s ease-in-out;
}

.marker::before {
    content: '';
    pointer-events: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 42px;
    height: 42px;
    background: url('../pictures/target-rings.svg');
    animation: rings .4s ease-in-out;
}

@keyframes robot {
    50% {
        right: 14px;
    }
}

@keyframes wind {
    50% {
        right: -1px;
    }
}

@keyframes marker  {
    0% {
        opacity: 0;
    }
    50% {
        bottom: 20px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rings {
    50% {
        bottom: -4px;
        transform: scale(1.05);
    }
    100% {
        bottom: 0;
        transform: scale(1);
    }
}

@media (max-width: 500px) {
    .room-button {
        padding: 40px 55px;
        margin: 0 15px 15px 15px;
    }

    .robot-standing,
    .robot-moving,
    .marker {
        transform: scale(.8);
    }
}

@media (max-width: 420px) {
    .room-button {
        margin: 0 0 15px 0;
    }

    .robot-standing,
    .robot-moving,
    .marker {
        transform: scale(.6);
    }
}

@media (min-width: 1500px) {
    .rooms-field {
        max-width: 1140px;
    }

    .rooms-field button {
        padding: 60px 65px;
    }
}
