.farm-section {
    font-size: calc((100vw - 350px)/(1280 - 350) * (32 - 14) + 14px);
    font-weight: bold;
}

.title {
    color: #646769;
}

.farm-outputs {
    display: flex;
    justify-content: space-between;
    padding: 15px 45px 10px 45px;
}

@media(max-width: 630px) {
    .farm-outputs {
        padding: 5px 15px 10px 15px;
    }
}

@media (max-width: 490px) {
    .farm-outputs {
        padding: 5px 10px 10px 10px;
    }
}
