.data-send {
    width: 850px;
    margin: 50px auto 0 auto;
    color: #414141;
}

.data-send__header {
    text-align: center;
    margin-bottom: 25px;
}

.data-send__input-line {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 22px;
}

.data-send__input-line__header {
    margin: 0 0 5px 20px;
    font-size: 22px;
}

.data-send__input {
    width: 350px;
    padding: 10px 15px;
    border: 0;
    border-radius: 2px;
    background-color: #93ABD9;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    font-size: 22px;
    color: #242424;
    transition-property: background-color color;
    transition-duration: 0.13s;
}

.data-send__input:focus {
    outline: none;
    background-color: #7F91B5;
}

.data-send__input:focus::placeholder {
    color: #414141;
}

.data-send__submit {
    display: block;
    margin: 25px 0 0 auto;
    padding: 4px 30px 5px 30px;
    background-color: #F8B67F;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    border-radius: 2px;
    border: 0;
    font-size: 30px;
    font-weight: 700;
    color: #616161;
    transition-property: background-color color;
    transition-duration: 0.13s;
}

.data-send__submit:hover {
    background-color: #FF5E03;
    color: #333333;
}

.data-send__submit:active {
    background-color: #FFD1AA;
    color: #616161;
}