.scenarios-control {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scenarios-control__select {
    padding: 10px 25px 10px 45px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    background-color: rgba(231, 242, 255, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
}

.scenarios-control__select option {
    text-align: start;
    font-size: 22px;
}

.scenarios-control__select:hover {
    box-shadow: 0 2px 10px rgba(197, 207, 255, .7);
}

.scenarios-control__select:focus {
    outline: none;
    box-shadow: 0 2px 15px #C5CFFF;
}

@media (max-width: 665px) {
    .scenarios-control {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    .scenarios-control span {
        margin-bottom: 15px;
    }

    .scenarios-control__select option {
        text-align: center;
    }
}

@media (max-width: 465px) {
    .scenarios-control {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 24px;
    }
    .scenarios-control span {
        margin-bottom: 5px;
    }
    .scenarios-control__select {
        padding: 10px 0 10px 0;
        font-size: 24px;
    }
}
