.light-control {
    font-size: 36px;
    font-weight: bold;
    font-size: 36px;
    font-weight: bold;
    background-color: #E5E7E9;
    margin-right: 20px;
}

.light-control div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 35px;
}

.light-off {
    font-size: 36px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    height: 72px;
    margin: 0 10px 20px 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    transition-property: box-shadow, background-color, outline;
    transition-duration: 0.20s;
    background-color: #DEDEDE;
}

.light-on {
    font-size: 36px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    height: 72px;
    background-color: bisque;
    margin: 0 10px 20px 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    outline: #C4CFD8;
    transition-property: box-shadow, background-color, outline;
    transition-duration: 0.15s;
}

.light-off:hover {
    box-shadow: 0 2px 15px #C5CFFF;
}

.light-off:focus {
    box-shadow: 0 2px 5px #C5CFFF;
}

.light-on:hover {
    box-shadow: 0 2px 15px #C5CFFF;
}

 .light-on:focus {
    box-shadow: 0 2px 5px #C5CFFF;
}

@media (max-width: 830px) {
    .light-control div {
        margin-left: 0;
    }
}

@media (max-width: 370px) {
    .light-control {
        font-size: 30px;
    }

    .light-on {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
    }

    .light-off {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
    }

    .light-control span {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}
