.light-control {
    font-size: calc((100vw - 350px)/(1280 - 350) * (36 - 24) + 24px);
    font-weight: bold;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 30px;
}

.light-off {
    margin: 0 10px 20px 10px;
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    flex-grow: 1;
    font-size: calc((100vw - 350px)/(1280 - 350) * (36 - 22) + 22px);
    font-weight: bold;
    transition-property: box-shadow, background-color, outline;
    transition-duration: 0.15s;
    background-color: #EBECEE;
}

.light-on {
    margin: 0 10px 20px 10px;
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    flex-grow: 1;
    font-size: calc((100vw - 350px)/(1280 - 350) * (36 - 22) + 22px);
    font-weight: bold;
    transition-property: box-shadow, background-color, outline;
    transition-duration: 0.15s;
    background-color: bisque;
}

.light-off:focus-visible {
    outline: none;
    box-shadow: 0 2px 15px #C5CFFF;
}

.light-on:focus-visible {
    outline: none;
    box-shadow: 0 2px 15px #C5CFFF;
}

.light-off:hover {
    box-shadow: 0 2px 15px #C5CFFF;
}

.light-off:active {
    box-shadow: 0 2px 5px #C5CFFF;
}

.light-on:hover {
    box-shadow: 0 2px 15px #C5CFFF;
}

 .light-on:active {
    box-shadow: 0 2px 5px #C5CFFF;
}

@media (max-width: 768px) {
    .btn-group {
        flex-direction: column;
    }

    .light-control div {
        margin-left: 0;
    }

    .light-control span {
        display: block;
        text-align: center;
    }

    .light-on {
        margin: 0 5% 15px 5%;
    }

    .light-off {
        margin: 0 5% 15px 5%;
    }

    .btn-group button:last-child {
        margin: 0 5% 10px 5%;
    }
}
