.data-output {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}

.data-output__header__description {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #414141;
    margin-top: 25px;
}

.data-output__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-output__field {
    width: 100%;
    height: 275px;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    background-color: #93ABD9;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    font-size: 18px;
    color: #242424;
}

.data-output__clear {
    align-self: flex-end;
    width: 200px;
    margin-top: 20px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F8B67F;
    border: 0;
    border-radius: 2px;
    font-size: 30px;
    color: #616161;
    font-weight: 700;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    transition-property: background-color color;
    transition-duration: 0.13s;
}

.data-output__clear:hover {
    background-color: #FF5E03;
    color: #333333;
}

.data-output__clear:active {
    background-color: #FFD1AA;
    color: #616161;
}