.climate {
    display: flex;
    justify-content: space-between;
    font-size: calc((100vw - 350px)/(1280 - 350) * (32 - 18) + 18px);
    font-weight: 700;
}

.climate div {
    display: flex;
}

.climate span {
    margin-right: 15px;
}

.climate__input {
    width: 70px;
    padding: 10px;
    background-color: #C4CFD8;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: calc((100vw - 350px)/(1280 - 350) * (28 - 18) + 18px);
    font-weight: 700;
    outline: #C4CFD8;
    transition-property: box-shadow, background-color, outline;
    transition-duration: 0.15s;
}

.wrong {
    background-color: rgba(249, 185, 185, .8);
}

.wrong:hover {
    outline: 1px solid rgba(249, 185, 185, .8);
}

.climate input:focus {
    outline: none;
    background-color: #A3AFB9;
    box-shadow: 0 2px 5px #C5CFFF;
}

@media (max-width: 768px) {
    .climate {
        flex-direction: column;
    }
    .climate div {
        margin: 0 5%;
        align-items: center;
        justify-content: space-between;
    }
    .climate div:first-child {
        margin-bottom: 5%;
    }
    .climate__input {
        width: 55px;
    }
}
