.output__text {
    display: block;
    font-size: calc((100vw - 350px)/(1280 - 350) * (30 - 16) + 16px);
    font-weight: bold;
    padding: 15px 0 15px  50px;
    /* text-align: center; */
}

.farm-control {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.control__button {
    border: 0;
    background-color: #EBECEE;
    font-size: calc((100vw - 350px)/(1280 - 350) * (30 - 16) + 16px);
    font-weight: bold;
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    box-shadow: 2px 0 5px #dadadb;
    flex-grow: 1;
    margin: 10px;
}

.control__button.active {
    background-color: #CEC8E4;
    box-shadow: 2px 0 5px #CEC8E4;
}
